
<footer >
<div class="p-2 mt-10">
<p>'beginnersBase11ty' was scrambled together by ewan-d & inspired by:</p>

<ul>
    <div class="ml-6 mt-3">
    <li>* 11ty's base starter project + some others(jet)</li>
    <li>* Tailwind docs</li>
    <li>* Css tricks</li>
    <li>* And an idea about combining web accessibility standards and brutalist design with an
        ssg I can eventualy fire .org files at</li>
    </div>
</ul>

</footer>
