<footer>
<div class="p-2">
<p> scrambled together by ewan-d </p>
<p> inspired by the 11ty docs, 11ty's base starter project + some others(jet), tailwind docs, css tricks and an idea about combining web accessibility standards with brutalist design</p>
</div>
</footer>
