
<footer >
<div class="p-2 mt-2">
<p>beginnersBase11ty was scrambled together by ewan-d & inspired by:</p>

<div class="mt-2">
<ul>
    <li>* 11ty's base starter project + some others(jet)</li>
    <li>* Tailwind docs</li>
    <li>* Css tricks</li>
    <li>* An idea that org mode could be my next cms</li>

</div>
</ul>

</footer>
