

<header> 
<nav>
<ul>

{%- for entry in collections.all | eleventyNavigation %}
	<li {% if entry.url == page.url %} aria-current="page" {% endif %}>
		<a href="{{ entry.url | url }}">{{ entry.title }}</a>
	</li>
{%- endfor %}

</ul>
</nav>
</header>

