

<header> 
<nav class="p-2 bg-yellow-200">
<ul>

{%- for entry in collections.all | eleventyNavigation %}
	<li class="inline text-lg" {% if entry.url == page.url %} aria-current="page" {% endif %}>
		<a class ="text-blue-500 hover:underline" href="{{ entry.url | url }}">{{ entry.title }}</a>
	</li>
{%- endfor %}

</ul>
</nav>
</header>

