---
pagination:
  data: collections.posts
  size: 2
  alias: aPost
---


<ol aria-labelledby="navigation-for-posts">
    {%- for pageEntry in pagination.pages %}
        <li>{{ loop.index  }}</li>
        {%- endfor %}
</ol>
