
{%- set nextPost = collections.post | getNextCollectionItem(page) %}
{%- set previousPost = collections.post | getPreviousCollectionItem(page) %}
{%- set both = nextPost and previousPost %}
{%- if nextPost or previousPost %}

<nav class="mt-4" aria-labelledby="post-navigation">
<h2 id="post-navigation" class="hidden">post navigation previous/next</h2>
<ol class="flex flex-row mt-3">

  {%- if previousPost %}<li>
      <a class="classicLink my-4" href="{{ previousPost.url | url }}"><p>< Previous post:</p>
          <p>"{{ previousPost.data.title }}"</p></a>
  </li>{% endif %}

    {%- if both %}<li class="mx-4"></li>{% endif %}

  {%- if nextPost %}<li>
      <a class="classicLink" href="{{ nextPost.url | url }}"><p>Next post:></p>
          <p> "{{ nextPost.data.title }}"</p></a>
  </li>{% endif %}
</ol>

{%- endif %}
</nav>
