
{% set postCounter = collections.post.length %}
<div class="ml-6 my-2">
<ul >
{%- for post in postslist | reverse %}
	<li>
      <span>#{{ postCounter }}</span>
      <a class="classicLink" href="{{post.url}}">{{ post.data.title }}</a>
      <time datetime="{{ post.date | dateToString }}">{{ post.date | readableDate }}</time>
  </li>
{% set postCounter = postCounter - 1 %}
{%- endfor %}
</ul>
</div>
