
{% set postCounter = collections.post.length %}

<div class="ml-6 my-2" aria-labelledby="posts">
    <h3 class="hidden" id="posts">posts:</h3>

<ul>
{%- for post in allPost | reverse %}

  <li>
      <span>#{{ postCounter }}</span>
      <a class="classicLink" href="{{post.url}}">{{ post.data.title }}</a>
      <time datetime="{{ post.date | dateToString }}">{{ post.date | readableDate }}</time>

      <div class="inline" aria-labelledby="tagList">
      <h3 class="hidden" id="tagList">tags:</h3>
      <ul class="inline">

          {% for tag in post.data.tags | tagFilter('post') %}
              <li class="text-lg inline px-1 m-1 bg-gray-200 eleventyTag">
                  {% set tagUrl %}/tagged/{{ tag | slug }}/{% endset %}
                  <a href="{{ tagUrl | url }}">{{ tag }}</a>
              </li>
          {% endfor %}
      </ul>
      </div>

  </li>
{% set postCounter = postCounter - 1 %}
{%- endfor %}
</ul>
</div>
    </div>
