
{%- set nextPost = collections.post | getNextCollectionItem(page) %}
{%- set previousPost = collections.post | getPreviousCollectionItem(page) %}


{%- if nextPost or previousPost %}

<div class="p-1">
<nav {% if not previousPost %} class="float-right"{% endif %} aria-labelledby="post-navigation max-w-2xl" >
<h2 id="post-navigation" class="hidden">post navigation previous/next</h2>
<ol class="flex flex-row justify-between mt-3" >

  {%- if previousPost %}<li>
      <a class="classicLink my-4" href="{{ previousPost.url | url }}"><p>< Previous post:</p>
          <p>"{{ previousPost.data.title }}"</p></a>
  </li>{% endif %}


  {%- if nextPost %}<li>
      <a class="classicLink" href="{{ nextPost.url | url }}"><p>Next post:></p>
          <p> "{{ nextPost.data.title }}"</p></a>
  </li>{% endif %}
</ol>

{%- endif %}
</nav>
</div>
