<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{ meta.author.name }}">
        <meta name="description" content="{{ meta.description }}">

	    <link rel="stylesheet" href="/css/style.css">
      <link rel="alternate" href="{{ meta.feed.path | url  }}" type="application/atom+xml" title="{{ meta.title  }}">
	    <title>{{ title }}</title>

<!-- put this somewhere else goddamit!! -->
  <style>
    #pygmPossum {
      position: relative;
      cursor: pointer;
    }
  </style>


  </head>
<body class="font-serif">

  	{{ content | safe }}

</body>
</html>
