---
layout: layouts/base
---

{% include "header.njk" %}

<div id="post" class="p-2 max-w-2xl">
	<h1 class="font-bold text-4xl mt-3 mb-6">{{ title }}</h1>

    <div class="mb-3">
        <time datetime="{{ page.date | dateToString }}">~ {{ page.date | readableDate }}</time>
    </div>
        {{ content | safe }}

<div class="inline" aria-labelledby="currentPostsTagsList">
{% set checkForTags = tags | tagFilter('post')  %}

      <h3 class="mt-4 font-bold {% if checkForTags == 0 %} hidden {% endif %}" id="tagList">this post is tagged with:</h3>
      <ul class="flex space-x-2">

          {% for tag in checkForTags %}
              <li class="underline tagged eleventyTag">
                  {% set tagUrl %}/tagged/{{ tag | slug }}/{% endset %}
                  <a href="{{ tagUrl | url }}">{{ tag }}</a>
              </li>
          {% endfor %}
      </ul>
      </div>

{% include "postsNav.njk" %}

</div>
