@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom components */
@layer components {
    .classicLink {
        @apply text-blue-600 hover:underline;
    }
    .tagged {
        @apply mr-2 px-2 bg-gray-200;
    }
}

/* my shot at mimicing the hover effect on the 11ty website. This is starting to feel like fan art */
@layer utilities {
    .eleventyTag:hover{
        color: white;
        text-shadow: 0 0 2px black;
	    background: linear-gradient(45deg, violet 2%, 8%, indigo 20%, 32%, lightblue 38%, 44%, lightgreen 50%, 57%, yellow 60%, 71%, orange 74%, 90%, red);
	    background-size: 900% 100%;
	    animation: gradient ease-in-out 8s infinite;
    }

    @keyframes gradient {
	    0%{
		    background-position: 0% 50%;
	    }
	    50%{
		    background-position: 100% 0%;
	    }
    }
    #pygmPossum {
        z-index: -1;
        position: absolute;
        animation-name: enterStageRight;
        animation-duration: 42s;
        animation-iteration-count: infinite;
    }

    @keyframes enterStageRight {
        0%   {left:92vw; top:-80%;}
        100% {left:-76vw; top:-120%;}
    }
}
