---
layout: layouts/base
permalink: 404.html
eleventyExcludedFromCollections: true
---
<div class="w-screen flex justify-center">
        {% image "src/siteImages/pygmPossumSiteLogo.png", "site logo: a pygm possum holding onto a red ballon inspired by the 11ty possum :)", "300" %}
</div>

    <div class="h-screen flex justify-center">
         <div class="px-2">
            <h2 class="text-3xl text-center lg:text-right"><a class="classicLink" href="/">take me back to the home page</a></h2>
            <h1 class="text-6xl lg:text-8xl z-40 text-center lg:text-left">404 page not found!</h1>
        </div>
    </div>
