---
layout: layouts/base
permalink: 404.html
eleventyExcludedFromCollections: true
---

    <div class="bg-pygmPossum bg-no-repeat bg-top h-screen flex justify-center">

         <div class="mt-96 px-2">
            <h2 class="text-3xl text-center lg:text-right"><a class="classicLink" href="/">take me back to the home page</a></h2>
            <h1 class="text-8xl z-40 text-center lg:text-left">404 page not found!</h1>
        </div>
    </div>
