---
layout: layouts/page
title: about
eleventyNavigation:
  key: about
  order: 3
---
<p>Great, you made it to the "what's all this about then" page. I would like to point you in two directions:</p>
<ol class="list-decimal list-inside mt-4 ml-6">
    <li>To find out more about this project please head to the git hub <a class="classicLink" href="https://github.com/Ewan-D/beginnersBase11ty" target="_blank">readme file</a></li>
    <li>To find out more about the tools used visit <a class="classicLink bg-gray-200 px-1 eleventyTag" href="https://www.11ty.dev/" target="_blank">11ty</a> and <a class="classicLink" href="https://tailwindcss.com/" target="_blank">Tailwind</a></li>
</ol>
