---
layout: layouts/page
title: 'all tags'
---

      <div aria-labelledby="taglist">
      <h3 class="hidden" id="tagList">tags:</h3>
      <ul class="flex space-x-2">

          {% for tag in collections.allTags | tagFilter('post') %}
              <li class="underline tagged eleventyTag">
                  {% set tagUrl %}/tagged/{{ tag | slug }}/{% endset %}
                  <a href="{{ tagUrl | url }}">{{ tag }}</a>
              </li>
          {% endfor %}

      </ul>
      </div>
