---
layout: layouts/page
title: vault
permalink: /vault/
eleventyNavigation:
  key: vault
  order: 2
---
<p>You have arrived at the vault go further only at your own peril</p>

{% set postslist = collections.post %}
<p>The vault currently contains <span>{{ postslist.length }}</span> posts</p>

{% include "postslist.njk" %}

