---
layout: layouts/base
title: archive
eleventyNavigation:
  key: archive
  order: 2
---
you have arrived at the vault enter at your own peril

{% set postslist = collections.posts %}
<p>The vault currently contains <span>{{ postslist.length }}</span> posts</p>

{% include "postslist.njk" %}
