---
layout: layouts/base
title: vault
permalink: /vault/
eleventyNavigation:
  key: vault
  order: 2
---
You have arrived at the vault go further only at your own peril

{% set postslist = collections.posts %}
<p>The vault currently contains <span>{{ postslist.length }}</span> posts</p>

{% include "postslist.njk" %}

