---
layout: layouts/post
pagination:
  data: collections.post
  size: 1
  alias: post
---
{{ content | safe }}

{{ post.data.title  }}
{{ post.templateContent  }}
<ol>
    {% if pagination.href.previous %}<li><a href="{{ pagination.href.previous  }}">previous</a></li>{% endif %}
    {% if pagination.href.next %}<li><a href="{{ pagination.href.next  }}">next</a></li>{% endif %}
</ol>
