---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - allTags
  addAllPagesToCollections: true
layout: layouts/page
title: tags
eleventyComputed:
    title: Tagged "{{ tag }}"
permalink: /tagged/{{ tag | slug }}/
---

{% set allPost = collections[ tag ] %}
{% include "postsList.njk" %}

<div class="p-2">
<p>Go to <a class="classicLink" href={{ '/allTags/' | url }}>all tags</a></p>
</div>
